@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track
{
	background-color: #3C4354;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #3C4354;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--yellow);
}

:root {
	--yellow: #FCBE84;
}

#app {
	font-family: 'Nunito Sans', sans-serif;
}

.dm-serif {
	font-family: 'DM Serif Display', serif;
}

.yellow {
	color: var(--yellow);
}

.h70screen {
	height: 70vh;
}

.h80screen {
	height: 80vh;
}

.h90screen {
	height: 90vh;
}

.word-space-3 {
	word-spacing: 3px;
}

a,
.green {

}

@media (hover: hover) {

}

@media (min-width: 1024px) {

}
