@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--yellow);
}

:root {
	--yellow: #FCBE84;
	--orange: #F79F1A;
	--slate: #FBFBFB;
	--red: #DA254E;
	--lightGray: #EDEDED;
}
input {border:0;outline:0;}
input:focus, textarea {outline:none;}


#app {
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
}

.dm-serif {
	font-family: 'DM Serif Display', serif;
}

.black-gradient {
	background: rgb(86,94,116);
	background: linear-gradient(151deg, rgba(86,94,116,1) 0%, rgba(21,28,45,1) 79%);
}

.yellow {
	color: var(--yellow);
}

.red {
	color: var(--red)
}

.bg-red {
	background-color: var(--red)
}

.bg-yellow {
	background-color: var(--yellow)
}

.orange {
	color: var(--orange)
}

.bg-orange {
	background-color: var(--orange);
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.slate {
	color: var(--slate)
}

.lightGray {
	color: var(--lightGray)
}

.bg-lightGray {
	background-color: var(--lightGray)
}

.header {
	
}

.h70screen {
	height: 70vh;
}

.h80screen {
	height: 80vh;
}

.h90screen {
	height: 90vh;
}

.word-space-3 {
	word-spacing: 3px;
}

.widget__modal-container__item {
	z-index: 50;
}
.modal-container {
	z-index: 50;
}

a,
.green {

}

@media (hover: hover) {

}

@media (min-width: 1024px) {

}
